<div class="mdl-layout mdl-js-layout">    
<main class="mdl-layout__content">
<div class="page-content">
    
  <div class="mdl-grid">
    <article class="demo-card-wide mdl-card mdl-shadow--2dp">
      <header class="mdl-card__title">
        <h1 class="mdl-card__title-text">Bem vindos/as ao CMail!</h1>
      </header>
      <p *ngIf="mensagem">
        {{mensagem}}
        </p>
      <form [formGroup]="formLogin" (ngSubmit)="handleLogin()" autocomplete="off" class="mdl-card__supporting-text">

        <!-- aqui os campos do formulário -->
        <cmail-form-group idCampo = "email" textoDaLabel = "Email" [isInvalid]="email.invalid && email.touched">
          <input formControlName="email" required type="email" name="email" cmailFormField required autofocus>
          <span class="mdl-textfield__error" *ngIf="email.invalid">Informar um email é obrigatorio</span>
        </cmail-form-group>
    
        <cmail-form-group idCampo = "password" textoDaLabel = "Password" [isInvalid]="password.invalid && password.touched">
            <input formControlName="password" required type="password" name="password" cmailFormField required autofocus>
            <span class="mdl-textfield__error" *ngIf="email.invalid">Informar uma senha é obrigatorio!</span>
        </cmail-form-group>    

        <div class="mdl-card__actions mdl-card--border">
          <a routerLink="/cadastro" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            Primeiro login? Cadastre-se!
          </a>
          <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent entrar">
            Entrar
          </button>
        </div>
      </form>

    </article>
  </div>
</div>
</main>
</div>
